@media (max-width: 575px){
    
        #btn-section{
            width: 100%;
            margin: auto;
        }
        
        div#btn-1 {
            width: 50%;
            
        }
        
        div#btn-2 {
            width: 50%;
        }

        #service-block {
            margin-top: 15px!important;
            width: 93%;
            margin:auto;
        }
        .service-block:hover{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
}


.rightImage { order: 1;  }
#banner-content { order: 2; }
.banner-section {
    
    height: auto;
}
.main-header{
    margin-top: 100px;;
}
    
}