*{
    margin: 0;
    padding: 0;
    
}
section{

    margin-bottom: 80px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'IBM Plex Serif', serif!important;
    font-weight: bold;
}
p, a{
    font-family: 'IBM Plex Serif', serif!important;
}
body{
    background: #f8f8ff;
}
ul.navbar-nav.ml-auto {
    margin-left: auto;
}
#banner-content h4{
    text-align:justify;
    font-size: 30px;
    line-height: 47px;
    
}
#banner-content{
    cursor:context-menu;
    margin-top: 75px;
}
#banner-content p{
    font-size: 20px;
    text-align: justify;
    letter-spacing: 3px;
    display: none;
}
.main-header{
    margin-top: 250px;;
}

.banner-section {
    overflow: hidden;
    height: 100vh;
}
button.btn.checkpro {
    background: #06e07a;
    color: white;
    padding: 7px 9px;
    font-size: 19px;
    border: 2px solid;
}
button.btn.getqui {
    background: #06e07a;
    color: white;
    padding: 7px 9px;
    font-size: 19px;
    border: 2px solid;
}
.btn-section{
    margin: auto;
}
.home-btn span{
    display: none;
}
button:hover span{
    display: inline-block;
}
#home{
    background:linear-gradient(to right, #A6FFCB , #12D8FA,#1FA2FF );
    height: auto;
}
.bg-success{
    background-color: #03c86c!important;
}
.navbar-expand-md{
    top: 0;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    width: 100%;
    padding: 6px 0px;
   
}

ul.dropdown-menu {
    margin-top: -1px!important;
}
.bg{
    background: rgb(6 224 122);
}
.bg.scrolled{
    background-color: #1FA2FF;
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: transform 3s!important;
    -webkit-transition: transform 3s!important;
    -moz-transition: transform 3s!important;
    -ms-transition: transform 3s!important;
    -o-transition: transform 3s!important;

}

li.nav-item a {
    font-size: 17px;
    color: white!important;
}
ul.dropdown-menu{
    margin-top: 20px;
}
.dropdown-menu li a{
    color: black!important;
}

.navbar-brand{
    font-size: 30px;
}
.navbar-brand span{
    color: brown;
    font-weight: bold;
}
nav.navbar.navbar-expand-md.navbar-dark.bg{
    z-index: 11111;
}
.content-title p{
   cursor: context-menu;
    font-size:25px;
  
    
}

.content-list span{
    padding-right: 8px;
    font-size: 25px;
    color: limegreen;
   
}
.content-list span i{
    background:white;
    border-radius: 3px;;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.content-list p{
    font-size: 22px;
    cursor:context-menu;
}
.content-title{
    text-align: justify;
    font-weight: bold;
   
}

span#one{
    border-bottom: 2px solid #f8b95a;
    width: 50%;
    margin: auto;
}
span#two{
    padding-top: 9px;
    border-bottom: 2px solid #f8b95a;
    width: 30%;
    margin: auto;
}

.service-block{
    padding: 15px;
    text-align:center;
    border-radius:3px ;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 100%;
    transition: transform .3s;
    cursor:pointer;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}
.service{
    margin-top:20px;
}
.service-imge img{
    width:50%;
    padding:15px;
   text-align: center;

}
.service-block:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#service-block{
    position:relative;
}
#test{
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f6f7;
    opacity: 0;
    width:100%;
    height: 100%;
    overflow:hidden;
    text-align: unset;
    text-align:left;
    transition:.5s;
    transform: translateX(-10%);
    -webkit-transform: translate(-10%);
    -moz-transform: translate(-10%);
    -ms-transform: translate(-10%);
    -o-transform: translate(-10%);
    padding:4px;
}
#service-block:hover #test {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
#test li{
    list-style: none;
    display: flex;
    font-size: 15px!important;
    font-weight: bold;
    color: #1ea6ff;
    
}
#chose-us{
    background-image: url("../image/choose.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#chose-us-bg{
    background-color: #171a1d85;
    

}
.fa-hand-o-right{
    padding: 5px;
    font-size: 20px;
    background-color: white;
    border-radius: 3px;
}
#chose p{
    margin-left:8px ;
    font-size: 19px;
    color: #1ea6ff;
    font-weight: bold;
    cursor: pointer;
}
#chose-main{
    padding: 20px 0px;
}
.section-image img {
    width: 100%;
    height: auto;
}
.pImage img {
    width: 50%;
    
}

.row.pprocessblock {
    background: #00ff88d4;
    padding: 7px 49px;
    margin-bottom: 11px;
    clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0 100%);
}
.pImage {
    margin-top: 27px;
    
}
.processMain{
    padding: 20px 0px;
}
.section-image {
    /* height: 100%; */
    margin-top: 90px;
}
.animated{
    animation:animated 2s infinite alternate-reverse both;
    -webkit-animation:animated 2s infinite alternate-reverse both;
}
@keyframes animated {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
  }

  .portfolio-main{
      padding: 20px 0px;;
  }
  div#portfolio-full {
    background-image: url(../image/portfbg.png);
    background-position: center;
    background-size: cover;
    padding-top: 5px;
    background-attachment: fixed;
}
.pProcess p{
    text-align: justify;
}
  .bg-service{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
  }
  #footer-wraper{
      background-color: #1FA2FF;
  }
  .footer-title p{
      text-align: justify;
  }
  #footer-wraper{
    padding: 10px 0px 10px 0px;
}
.footer-title li{
        list-style: none;
        display: inline-flex;
        padding: 6px;
        font-size: 33px;
}
.footer-title li a{
    color: white;
}
.import-link a {
    color: rgb(5, 5, 5);
    text-decoration: none;
}
.import-link li{
   list-style: none;
   font-size: 18px;
}
.import-link h4, .footer-title h4,.find-loc h4 {
    border-bottom: 2px solid orange; 
    padding-bottom: 5px;
    color: #fbfbfb;
}
.slide-img.item {
    position: relative;
}

.onhover {
    position: absolute;
    top: 117px;
    left: 79px;
    display: none;
}
.slide-img.item:hover .onhover {
    display: block;
    
}
.slide-img.item:hover {
   
    background-color: #000000d4 ;
}
.slide-img.item:hover img{
    opacity: 0.3;
}
.protbtn{
    background: #1FA2FF;
}

 

